.img__product {
    width: 100px;
    height: 100px;
}

.info__product {
    display: flex;
}

.info__product p {
    display: flex;
    padding-left: 2em;
    font-size: 1em;
    margin-bottom: 0.1em;

}

.name__product {
    font-weight: 600;
}